@page
@model Web.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div class="page-header">
    <h1><i class="fas fa-cog"></i> Settings</h1>
    <p>Placeholder for user/application settings.</p>
</div>


