@page
@model Web.Pages.Suppliers.CreateModel
@{
    ViewData["Title"] = "Add Supplier";
}

<div class="page-header">
    <h1><i class="fas fa-user-plus"></i> Add Supplier</h1>
    <p>Placeholder page for creating a new supplier.</p>
    <a class="btn btn-secondary" href="/Suppliers">Back to Suppliers</a>
</div>


