@page
@model Web.Pages.Suppliers.IndexModel
@{
    ViewData["Title"] = "Suppliers";
}

<div class="page-header">
    <h1><i class="fas fa-industry"></i> Suppliers</h1>
    <p>Placeholder for suppliers list.</p>
    <a class="btn btn-primary" href="/Suppliers/Create">Add Supplier</a>
</div>


