@page
@model Web.Pages.Customers.CreateModel
@{
    ViewData["Title"] = "Add Customer";
}

<div class="page-header">
    <h1><i class="fas fa-user-plus"></i> Add Customer</h1>
    <p>Placeholder page for creating a new customer.</p>
    <a class="btn btn-secondary" href="/Customers">Back to Customers</a>
</div>


