@page
@model Web.Pages.Purchases.CreateModel
@{
    ViewData["Title"] = "New Purchase";
}

<div class="page-header">
    <h1><i class="fas fa-plus"></i> New Purchase</h1>
    <p>Placeholder page for creating a new purchase order.</p>
    <a class="btn btn-secondary" href="/Purchases">Back to Purchases</a>
</div>


