@page
@model Web.Pages.Purchases.IndexModel
@{
    ViewData["Title"] = "Purchase Orders";
}

<div class="page-header">
    <h1><i class="fas fa-truck"></i> Purchase Orders</h1>
    <p>Placeholder for listing purchase orders.</p>
    <a class="btn btn-primary" href="/Purchases/Create">New Purchase</a>
</div>


